body {
  background-color: black;
  color: white;
  background-image: url('https://goo.gl/mUiRaQ');
  margin: 0;
}

h1 {
  font-family: 'Geostar Fill', cursive;
  font-size: 50px;
  margin: 50px auto;
  text-align: center;

}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.galaxy-container {
    text-align: center;
}

img {
  /* margin: 0 20px; */
  width: 500px;
  border: 1px solid rgb(4, 115, 186);
  border-radius: 10px;
}

.galaxy-img {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.info-title {
    font-size: 2em;
    text-transform: uppercase;
}

.galaxy-info {
    background-color: rgba(255,255,255,0.6);
    width: 50%;
    margin: 15px auto;
    color: black;
    padding: 15px;
    border-radius: 2px;
}

.galaxy {
  margin: 0 50px;
  text-align: center;
}

button {
    padding: 15px;
    margin: 10px;
    background-color: orange;
}

footer {
  display: inline-block;
  margin-top: 30px;
  width: 100%;
  background-color: rgb(62, 62, 62);
  /* justify-content: space-between; */
  text-align: center;
}

/* footer > span {
  text-align: right;
} */

#container, .carousel {
	height:100%;
	margin: 0;
	width: 100%;
}

$theme-blue: #14B6D4;

.image-slide {
	height: 100%;
	width: 100%;
	transition: background-image .3s ease-in-out;
}

.slide-arrow {
	color: $theme-blue;
	cursor: pointer;
	font-size: 2rem;
	position: fixed;
	top: 50%;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}
